<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678341966323-b0ufjercjlrl8tc8gfdp0t4p23k5rtte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678341966323-b0ufjercjlrl8tc8gfdp0t4p23k5rtte</string>
	<key>API_KEY</key>
	<string>AIzaSyBSiUhT_uXA1_G3NOW482jjFKlh1qTSPVA</string>
	<key>GCM_SENDER_ID</key>
	<string>678341966323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edocket.ios</string>
	<key>PROJECT_ID</key>
	<string>edocketcustomer</string>
	<key>STORAGE_BUCKET</key>
	<string>edocketcustomer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678341966323:ios:3544ba1135808fbdfb3a86</string>
</dict>
</plist>